<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Ana Sayfa</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Biyografi</a></li>
  <li class="{% if page.url contains '/diskografi/' %} active {% endif %}"><a href="{{ "/diskografi/" | absolute_url }}">Diskografi</a></li>
  <li class="{% if page.url contains '/medya/' %} active {% endif %}"><a href="{{ "/medya/" | absolute_url }}">Medya</a></li>
  <li class="{% if page.url contains '/iletisim/' %} active {% endif %}"><a href="{{ "/iletisim/" | absolute_url }}">İletişim</a></li>
</ul>
